QuickCloseOpps/flows/Close_Lost_all_Open_Opps_on_an_Account.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Add the formatted opportunity name {!OppNameTextTemplate} to a text variable that will hold the bulleted list of opportunity names.
Add the Loop variable (the current record being evaluated in the loop) to a collection {!OppsToClose} of opportunities that will be closed at the end of the loop.</description>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>519</locationX>
        <locationY>310</locationY>
        <assignmentItems>
            <assignToReference>ListofClosedOppNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppNameTextTemplate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppsToClose</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Open_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Change the stage of the current opportunity in the loop to &quot;Closed Lost&quot;</description>
        <name>Mark_Opp_Closed_Lost</name>
        <label>Mark Opp Closed Lost</label>
        <locationX>519</locationX>
        <locationY>172</locationY>
        <assignmentItems>
            <assignToReference>LoopVar.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <description>Change the Stage on all open opportunities on a particular account to Closed Lost using a Quick Action on the Account record. This version includes a confirmation screen before the records are modified.</description>
    <interviewLabel>Close Lost all Open Opps on an Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close Lost all Open Opps on an Account</label>
    <loops>
        <description>Initiate a loop to look through all the opportunities that you collected in the previous element one by one.</description>
        <name>Loop_Through_Open_Opps</name>
        <label>Loop Through Open Opps</label>
        <locationX>297</locationX>
        <locationY>242</locationY>
        <assignNextValueToReference>LoopVar</assignNextValueToReference>
        <collectionReference>OpenOpps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Mark_Opp_Closed_Lost</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>confirmScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get all of the opportunities on this account that are open (is lost = false).  Store the record ids and names in a record</description>
        <name>Get_All_Open_Opps</name>
        <label>Get All Open Opps</label>
        <locationX>297</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Open_Opps</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>OpenOpps</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>CloseDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <description>After the last opportunity is evaluated in the loop, update all of the opps in the collection {!OppsToClose} at once.</description>
        <name>Close_the_opps</name>
        <label>Close the opps</label>
        <locationX>298</locationX>
        <locationY>560</locationY>
        <connector>
            <targetReference>Closed_Opps_List_Screen</targetReference>
        </connector>
        <inputReference>OppsToClose</inputReference>
    </recordUpdates>
    <screens>
        <description>Screen to show the user which opportunities were closed.</description>
        <name>Closed_Opps_List_Screen</name>
        <label>Closed Opps List Screen</label>
        <locationX>605</locationX>
        <locationY>560</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayList</name>
            <fieldText>&lt;p&gt;The following opportunities were marked closed lost:&lt;/p&gt;&lt;p&gt;{!ListofClosedOppNames}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Confirm that the user wants to quickly close all of these opportunities.</description>
        <name>confirmScreen</name>
        <label>confirmScreen</label>
        <locationX>298</locationX>
        <locationY>422</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Close_the_opps</targetReference>
        </connector>
        <fields>
            <name>ConfirmQuestion</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Are you sure?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Click &lt;b&gt;Next&lt;/b&gt; to mark the following opportunities &lt;b&gt;Closed Lost&lt;/b&gt;.&lt;/p&gt;&lt;p&gt;{!ListofClosedOppNames}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_All_Open_Opps</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Bullet point format for the opportunity name when it is added to the list that is displayed on the final screen.</description>
        <name>OppNameTextTemplate</name>
        <text>&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;{!LoopVar.Name}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</text>
    </textTemplates>
    <variables>
        <description>Text which displays the list of closed opportunities at the end of the Flow. Data is assigned to this variable using the text template {!OppNameTextTemplate}.</description>
        <name>ListofClosedOppNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The LoopVar holds the information about the particular record being evaluated in the loop for each go round.</description>
        <name>LoopVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>All open opportunities on this account.</description>
        <name>OpenOpps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>All opportunities that have been modified and the changes are ready to be committed to the database.</description>
        <name>OppsToClose</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>The quick action button sends the ID of the Account to this variable.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
